*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

/* nav part start */

nav{
    background-color: #1C1E53;
    padding: 20px 0 !important;
}

.menu_bg ul li{
    padding: 0 12px;
}

.menu_bg ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF !important;
}

.menu_bg .nav_anchore a{
    border: 1px solid #F4F6FC33;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu_bg .nav_anchore a:hover{
    border: 1px solid transparent;
    background-color: #FCD980;
    color: #1B1C2B;
}

/* nav part end */

/* Contact part start */
#contact{
    padding-top: 100px;
    padding-bottom: 40px;
}
.contact_top h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #282938;
}
.contact_top p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #282938;
    opacity: 0.7;
    padding: 0 30px;
}
.contact_form{
    background-color: #F4F6FC;
    padding: 50px 40px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 70px;
}
.contact_form h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.inp1{
    display: inline-block;
}
.input1{
    width: 400px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-right: 30px;
}
.inp2{
    display: inline-block;
}
.input2{
    width: 400px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.inp3{
    display: inline-block;
    padding-top: 25px;
}
.input3{
    width: 400px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-right: 30px;
}
.inp4{
    display: inline-block;
}
.input4{
    width: 400px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.inp5{
    padding-top: 20px;
}
.input5{
    width: 832px;
    height: 125px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.contact_form a{
    background-color: #282938;
    color: #F4F6FC;
    margin-top: 30px;
    padding: 12px 40px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
/* Contact part end */




/* Footer part start */

footer{
    padding-top: 70px;
    background-color: #1C1E53;
}

.footer_hd_left p{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 70px;
}
.footer_inner{
    background-color: #FCD980;
    padding: 5px 40px;
}

.footer_inner h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282938;
    padding-top: 20px;
}

.footer_inner span{
    padding-left: 90px;
}

.footer_inner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #282938;
    opacity: 0.8;
}

.footer_inner1 span{
    padding-left: 30px;
}

.footer_hd_right h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.footer_hd_right p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    color: #F4F6FC;
    padding: 10px 0;
}

.footer_icon img{
    padding-right: 20px;
}

#footer2{
    padding-top: 30px;
    padding-bottom: 10px;
}
.footer2_left P{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #282938;
}

.footer2_right ul li{
    display: inline-block;
    padding: 0 10px;
}

.footer2_right ul li a{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282938;
}

/* Footer part end */



/* Responsive part start */

@media(max-width:575px){
    /* nav */
    .navbar-toggler i{
     color: #FFF;
     font-size: 35px;
     transition: .4s;
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     -o-transition: .4s;
 }
    .navbar-toggler i:hover{
     color: #FCD980;
    }
    .navbar {
     --bs-navbar-toggler-focus-width: 0;
     --bs-navbar-toggler-border-color: none;
     }
    /* nav */

    /* Contact */
    .anch{
        text-align: center ;
    }
    .input5{
        width: 400px;
        height: 95px;
    }
    /* Contact */
 
    /* footer */
    footer {
     padding-bottom: 30px;
 }
    .footer_hd_right h2 {
     padding-top: 20px;
 }
    /* footer */
 
    /* footer2 */
    .footer2_left{
     text-align: center;
    }
    .footer2_right{
     text-align: center;
    }
    /* footer2 */
 }
 
 @media(min-width:576px) and (max-width:767px){
        /* nav */
    .navbar-toggler i{
     color: #FFF;
     font-size: 35px;
     transition: .4s;
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     -o-transition: .4s;
 }
    .navbar-toggler i:hover{
     color: #FCD980;
    }
    .navbar {
     --bs-navbar-toggler-focus-width: 0;
     --bs-navbar-toggler-border-color: none;
     }
    /* nav */

        /* Contact */
        .anch{
            text-align: center ;
        }
        .input5{
            width: 400px;
            height: 105px;
        }
        /* Contact */
   
 
    /* footer */
    footer {
     padding-bottom: 30px;
 }
    .footer_hd_right h2 {
     padding-top: 20px;
 }
    /* footer */
 
    /* footer2 */
    .footer2_left{
     text-align: center;
    }
    .footer2_right{
     text-align: center;
    }
    /* footer2 */
 }
 
 @media(min-width:768px) and (max-width:991px){
      /* nav */
      .navbar-toggler i{
         color: #FFF;
         font-size: 35px;
         transition: .4s;
         -webkit-transition: .4s;
         -moz-transition: .4s;
         -ms-transition: .4s;
         -o-transition: .4s;
     }
        .navbar-toggler i:hover{
         color: #FCD980;
        }
        .navbar {
         --bs-navbar-toggler-focus-width: 0;
         --bs-navbar-toggler-border-color: none;
         }
        /* nav */

                /* Contact */
                .input5{
                    width: 400px;
                    height: 105px;
                }
                /* Contact */
        
        /* footer */
        footer {
         padding-bottom: 30px;
     }
        .footer_hd_right h2 {
         padding-top: 20px;
     }
        /* footer */
     
        /* footer2 */
        .footer2_left{
         text-align: center;
        }
        .footer2_right{
         text-align: center;
        }
        /* footer2 */
 }
 
 @media(min-width:992px) and (max-width:1199px){
    
                 /* Contact */
                 .input5{
                    width: 400px;
                    height: 105px;
                }
                /* Contact */
     /* footer2 */
     .footer2_right ul li {
         padding: 0 4px;
     }
     /* footer2 */


 
 }
 
 @media(min-width:1200px) and (max-width:1399px){
   
 }
 
 @media(min-width:1400px){
 
 }
 
 /* Responsive part end */